
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Deluvity</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Deluvity</h1>
            </header>
            <div class="video-section">
                <h2>Установка</h2>
                <p>
                    Для установки нашего продукта, вам потребуется файл с расширением .zip. После того как вы получите этот файл, ваша следующая задача - открыть настройки вашего браузера и перейти в раздел "Расширения". В этом разделе вы найдете опцию для установки новых расширений. Вам нужно будет выбрать опцию "Установить из файла" или аналогичную, которая позволяет загружать расширения вручную. Найдите на вашем устройстве ранее скачанный .zip файл и загрузите его в браузер. После этого расширение установится, и вы сможете начать пользоваться всеми его возможностями. Если возникнут какие-либо трудности в процессе установки, вы всегда можете обратиться к нам. Ниже приведена видео-инструкция:
                </p>
                <h3>Anti Detect Tutorial</h3>
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/-kLude3iEEY?si=Sls6ipVEAW9HCZOk"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                        encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                        allowfullscreen></iframe>
                </div>

                <h3>Web Browser Tutorial</h3>
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6kSWFbrnrq0?si=42Em5FOb5Diqjdsf"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                        encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                        allowfullscreen></iframe>
                </div>
            </div>
            
            <hr class="divider-line">
            
            <div class="section">
                <h2>Использование</h2>
                <p>
                    После установки расширения, вам потребуется ввести выданный Вам token. После чего потребуется создать профиль, заполнив поля:
                    <ol>
                        <li>Name: (Имя модели).</li>
                        <li>Age: (Возраст модели)</li>
                        <li>Source of adds: (Откуда трафик Бамбл, Тиндер, Инста и тд)</li>
                        <li>City: (Где находится модель)</li>
                        <li>Link: (Ссылка, которая будет кидаться пользователям)</li>
                        <li>CTA message number: (Каким сообщение будет кидаться ссылка, чем дольше общение с трафиком, тем выше конверсия, но зависит от вашего скрипта)</li>
                        <li>Min and max cooldown: (Минимальная и максимальная задержка перед заходом в диалог. Заполните в секундах)</li>
                        <li>Model Info: (Хобби и информация о модели. Пишите от 3его лица)</li>
                        <li>Setting: (Чем занимается модель во время переписки)</li>
                        <li>CTA: (Воронка перевода на ваш сайт, какие сообщения будут кидаться для перевода)</li>
                        <li>CTA info: (Стоимость подписки)</li>
                        <li>Platform: (Платформа, куда будете переводить трафик. OnlyFans/Fansly)</li>
                    </ol>
                </p>
            </div>

            <hr class="divider-line">

            <div class="section">
                <h2>Информация</h2>
                <p>
                    Наш продукт находится на стадии разработки, и мы с нетерпением ждем возможности поделиться им с вами. Если вы хотите получить ранний доступ и первыми оценить все его преимущества, присоединяйтесь к нашему сообществу в Telegram. Там вы сможете следить за обновлениями, участвовать в обсуждениях и получать эксклюзивную информацию. Не упустите шанс стать частью нашего проекта!
                </p>
            </div>

            <hr class="divider-line">
            
            <div class="download-button-container">
                <a href="https://deluvity.ru/download" class="download-button">Скачать расширение</a>
            </div>
            <footer>
                <a href="https://t.me/Deluvity" target="_blank" class="telegram-link">
                    <i class="fab fa-telegram-plane"></i> Telegram
                </a>
            </footer>
        </div>
    </body>
</html>